{{- /* gotype: github.com/vvakame/spatk/internal/sidx.TemplateValue */ -}}

{{ template "packageHeader" .}}
{{- $b := . -}}
{{- range $_, $idx := .Indices -}}
// {{ $b.VarNamePrefix }}{{ $idx.Name }} contains index for {{ $idx.Table }} table.
// "{{ $idx.SQL }}".
const {{ $b.VarNamePrefix }}{{ $idx.Name }} = "{{ $idx.Name }}"
{{ end -}}
