{{- /* gotype: github.com/vvakame/spatk/internal/sidx.TemplateValue */ -}}

{{ template "packageHeader" .}}
{{- $b := . -}}
{{- range $_, $idx := .Indices -}}
// {{ $b.VarNamePrefix }}{{ $idx.Name.SQL }} contains index for {{ $idx.TableName.SQL }} table.
// "{{ $idx.SQL }}".
const {{ $b.VarNamePrefix }}{{ $idx.Name.SQL }} = "{{ $idx.Name.SQL }}"
{{ end -}}
